PORT=8080
DEBUG=false
SESSION_TTL=180s
CLEANUP_INTERVAL=30s
HTTP_TIMEOUT=8s
POLL_MAX_RETRIES=2
POLL_RETRY_INTERVAL=500ms
USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36
REFERER=https://www.bilibili.com/
BILI_GENERATE_URL=https://passport.bilibili.com/x/passport-login/web/qrcode/generate?source=main-fe-header
BILI_POLL_URL=https://passport.bilibili.com/x/passport-login/web/qrcode/poll
REDIS_ADDR=
REDIS_PASSWORD=
REDIS_DB=0
